button#btn {
    transform: translate(650px,300px);
    font-size: 50px;
    color: gold;
    cursor: pointer;
    background-color: wheat;
}

button#up {
    transform: translate(0px,0px);
    
}
h3 {
    transform: translate(1250px,50px);
}
h3#song1 {
    transform: translate(1150px,150px);
}
button#active {
    transform: translate(0px,0px);
}
audio {
    transform: translate(0px,0px);
    
}
h1 {
    transform: translate(700px,0px);
}
h3#oio {
    transform: translate(1200px,350px);
}
button#oioiplayer {
    transform: translate(0px,0px);
  
}
button#autoclicker {
    transform: translate(0px,0px);
}
button#spinningcat {
    transform: translate(0px,0px);
}
button#autoclickerupgradebt {
    transform: translate(0px,0px);
}
.button:hover#up {
    box-shadow: 0 0 5px #cc9a00;
    box-shadow: 0 0 20px gold;
    box-shadow: 0 0 60px gold;
    box-shadow: 0 0 150px gold;

   
}
h1#ctx {
    transform: translate(0px,50px);
    
}
h1#clickst {
    transform: translate(30px,-10px);
    
}
h1#clicks {
    transform: translate(0px,50px);
    color: blue;
}