button {
    transform: translate(650px,300px);
}
button#up {
    transform: translate(1450px,0px);
}
h3 {
    transform: translate(1250px,50px);
}
h3#song1 {
    transform: translate(1250px,175px);
}
button#active {
    transform: translate(1440px,135px);
}
audio {
    transform: translate(650px,250px);
    
}
h1 {
    transform: translate(700px,0px);
}
h3#oio {
    transform: translate(1300px,350px);
}
button#oioiplayer {
    transform: translate(1450px,250px);
}